biasadaptation.egg-info/*
biasadaptation/utils/data/*
scripts/matthias/jureca_logs/*
scripts/matthias/__pycache__/*
scripts/matthias/.cache*
results/scan_train_xlr_wlr/individual/individual_seed/*
results/scan_train_glr_bwlr/individual/individual_seed/*
results/scan_train_blr_wlr/individual/individual_seed/*
results/scan_train_bglr_wlr/individual/individual_seed/*
results/scan_train_bmr_lr/individual/individual_seed/*
results/train_full_dataset/*/final_weights/*
results/train_full_dataset/*/init_weights/*
dist/*
build/*
.idea/*

results/scan_train_blr_wlr/individual_stash/*
